<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal Informasi Seputar Keajaiban Dunia Seni dan Sejarah">
    <link rel="apple-touch-icon" href="/icons/icon192x192.png">
    <link rel="icon" href="./icon.png">
    <link rel="manifest" href="app.webmanifest">
    <title>Warta Museum</title>
    <!-- <link rel="stylesheet" href="../styles/main.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&family=Poppins:wght@100;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <!-- <a href="#mainContent" class="skip-to-content" tabindex="0">Skip to Content</a> -->

    <header>
        <nav class="navbar navbar-expand-md text-white sticky-top mynavbar">
            <div class="container-fluid mx-2">
                <a class="navbar-brand" href="#"><img src="./images/logo-museum.png" alt="">Warta Museum</a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="fas fa-bars"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Warta Museum</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="navbar-nav m-auto">
                            <a class="nav-link active" href="#/">Home</a>
                            <a class="nav-link" href="#/favorite">Favorite</a>
                            <a class="nav-link" href="#/about">About US</a>
                        </div>
                    </div>
                </div>

                <div class="search-icon">
                    <span class="fas fa-search"></span>
                </div>
                <div class="cancel-icon">
                    <span class="fas fa-times"></span>
                </div>
                <form action="#" class="form">
                    <input type="search" class="search-data" placeholder="Search" required>
                    <button type="submit" class="btn fas fa-search button-search"></button>
                </form>
            </div>
        </nav>
    </header>

    <main id="mainContent" tabindex="0">

    </main>


    <footer>
        <!-- <div class="container"> -->
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="#" class="text-white">Wartamuseum.com</a></h2>
                <p class="menu mt-4">
                    <a href="#">HOME</a>
                    <a href="#">FAVORITE</a>
                    <a href="#">ABOUT</a>
                </p>
                <ul class="list-inline footer-social">
                    <li class="list-inline-item">
                        <a href="#" title="Twitter">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Warta Museum
                </p>
            </div>
        </div>
        <!-- </div> -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>